---
import Head from '@components/Head.astro';
---

<html lang="">
  <Head title="404" description="404 Not Found" image="/og.png" />
  <body
    class="w-screen h-screen
    font-handwrite"
    flex="~ col items-center justify-center"
    bg="primary dark:dark-primary"
    text="text-0 dark:dark-text-0 4xl"
  >
    404 - Not Found
    <a href="/" class="font-pixel text-base my-4 hover:underline"> cd ~ </a>
  </body>
</html>
