<footer flex items-center gap-2 text-xs>
  <a
    class="gap-2
    flex items-center
    font-medium
    transition-[border-color]"
    text="text-1 dark:dark-text-1"
    border="b opacity-50 dark:opacity-50 text-1 dark:dark-text-1 hover:opacity-100"
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
  >
    CC BY-NC-SA 4.0
    <div class="i-fa6-brands:creative-commons"></div>
    <div class="i-fa6-brands:creative-commons-by"></div>
    <div class="i-fa6-brands:creative-commons-nc"></div>
    <div class="i-fa6-brands:creative-commons-sa"></div>
  </a>
  2024
  <div class="i-fa6-regular:copyright"></div>
  Fay Ash
</footer>
