---
import ThemeSwitcher from './solid/ThemeSwitcher';
import TypeWriter from './solid/TypeWriter';

const TITLE = 'Fay Ash';
const WELCOME = 'Welcome';
const GITHUB = 'yaoshiu';
const STEAMID = 'fayash';
---

<header class="w-full
  h-50vh" bg="primary" flex="~ col items-center">
  <h1
    class="text-xl
    font-handwrite
    h-full w-full
    flex justify-center items-center"
  >
    <TypeWriter
      text={[WELCOME, TITLE]}
      client:load
      transition:persist
      transition:persist-props
    />
  </h1>
  <div class="font-pixel gap-4 py-2 flex justify-center">
    <nav class="flex gap-4">
      <a href="/" class="hover:underline"> cd ~ </a>
      <a href="/posts" class="hover:underline"> /posts </a>
      <a href="/projects" class="hover:underline"> /projects </a>
      <a
        href="/friends"
        aria-label="friends"
        class="hover:animate-flip flex items-center"
      >
        <svg class="i-pixelarticons:contact"></svg>
      </a>
    </nav>
    <a
      href={`https://github.com/${GITHUB}`}
      aria-label="github"
      class="hover:animate-wobble flex items-center"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="i-pixelarticons:github"></svg>
    </a>
    <a
      href={`https://steamcommunity.com/id/${STEAMID}`}
      aria-label="steam"
      class="hover:animate-tada flex items-center"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="i-pixelarticons:gamepad"></svg>
    </a>
    <div class="hover:animate-spin flex items-center">
      <ThemeSwitcher client:load />
    </div>
  </div>

  <script>
    document.addEventListener('astro:page-load', () => {
      document.querySelectorAll('a').forEach((el) => {
        el.addEventListener('click', (ev) => {
          if (el.href === window.location.href) {
            ev.preventDefault();
          }
        });
      });
    });
  </script>
</header>
