---
import ThemeSwitcher from "./ThemeSwitcher";
import TypeWriter from "./TypeWriter";

const TITLE = "Fay Ash";
const WELCOME = "Welcome";
const GITHUB = "yaoshiu";
---

<header h-50vh bg="layer dark:dark-layer" flex flex-col items-center>
  <h1 text-xl font-handwrite h-full w-full flex justify-center items-center>
    <TypeWriter text={[WELCOME, TITLE]} client:load />
  </h1>
  <div
    font="pixel"
    w-max
    flex
    gap-4
    justify-center
    border="b border"
    p="x-4 y-2"
  >
    <a href="/">cd ~</a>
    <a href="/blog">/blog</a>
    <a href="/projects">/projects</a>
    <a
      href={`https://github.com/${GITHUB}`}
      aria-label="github"
      flex
      items-center
    >
      <div class="i-pixelarticons:github"></div>
    </a>
    <ThemeSwitcher client:load />
  </div>
</header>
