---
interface Props {
  href: string;
  target?: string;
  rel?: string;
}
---

<a
  class="inline-block
  w-max
  h-max
  rounded-md
  p-1"
  text="sm text-1"
  bg="neutral-300 dark:neutral-700 dark:op-30 op-30 hover:op-50"
  {...Astro.props}
>
  <slot />
</a>
