<div class="py-4 flex items-center gap-2 text-xs">
  <a
    class="
      gap-2 flex items-center font-medium transition-colors
      text-text-1 border-b border-text-1/50 hover:border-text-1
    "
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
    target="_blank"
    rel="noopener noreferrer"
  >
    CC BY-NC-SA 4.0
    <img
      src='{{ "creative-commons" |> icon("iconify", "fa6-brands") }}'
      alt="creative commons"
      inline
    >
    <img
      src='{{ "creative-commons-by" |> icon("iconify", "fa6-brands") }}'
      alt="creative commons by"
      inline
    >
    <img
      src='{{ "creative-commons-nc" |> icon("iconify", "fa6-brands") }}'
      alt="creative commons nc"
      inline
    >
    <img
      src='{{ "creative-commons-sa" |> icon("iconify", "fa6-brands") }}'
      alt="creative commons sa"
      inline
    >
  </a>
  2024
  <img
    src='{{ "copyright" |> icon("iconify", "lucide") }}'
    alt="copyright"
    inline
  >
  Fay Ash
</div>
