<div class="w-full h-[50vh] bg-primary flex flex-col items-center">
  <div class="h-full w-full flex justify-center items-center">
    {{ comp.typewriter({ text: ["Welcome", "Fay Ash"], speed: 150, decSpeed: 50 }) }}
  </div>
  <div class="font-pixel gap-4 py-2 flex justify-center">
    <nav>
      <ul class="flex gap-4">
        <li><a href="/">cd ~</a></li>
      </ul>
    </nav>
  </div>
</div>
