<!DOCTYPE html>
<html lang="{{ lang }}" class="scheme-light-dark">
  <head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.css" crossorigin="anonymous">
    <title>{{ title }}</title>
    <script src="/script.js" type="module"></script>
    <script src="/js/theme.js" inline></script>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="subscribe to my blog"
      href="/feed.rss"
    >
  </head>
  <body
    class="bg-background-0 font-sans text-text-0 min-h-screen flex flex-col"
  >
    <header style="view-transition-name: header">
      {{ comp.header() }}
    </header>
    <main class="p-4 w-full max-w-prose mx-auto flex-1">
      <!-- deno-fmt-ignore -->
      {{ comp native_router }}
      {{ content }}
      <!-- deno-fmt-ignore -->
      {{ /comp }}
    </main>
    <footer
      class="p-4 w-full max-w-prose mx-auto"
      style="view-transition-name: footer"
    >
      {{ comp.footer() }}
    </footer>
    {{ comp.scroll_top() }}
  </body>
</html>
