---
import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import ScrollTop from '@components/solid/ScrollTop';

interface Props {
  title: string;
  description: string;
  image: string;
  type?: string;
}

const { title, description, image, type } = Astro.props;
---

<!-- Trick to prevent the flash -->
<html lang="en">
  <Head {title} {description} {image} {type} />
  <body
    bg="background-0 dark:dark-background-0"
    flex="~ col items-center"
    class="min-h-screen font-sans"
    text="text-0 dark:dark-text-0"
  >
    <Header />
    <div
      class="p-4 w-full max-w-prose flex-1"
      flex="~ col"
      transition:animate="fade"
    >
      <div class="flex-1">
        <slot />
      </div>
      <Footer />
    </div>
    <div class="fixed bottom-4 right-4">
      <ScrollTop client:load />
    </div>
  </body>
</html>
