---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import { ThemeProvider } from "../components/Theme";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <Head {title} />
  <body h-screen font-sans>
    <ThemeProvider client:load>
      <Header />
      <div w-full flex justify-center py-8>
        <div max-w-lg w-full>
          <slot />
        </div>
      </div>
    </ThemeProvider>
  </body>
</html>
